.Invisible {
    display: none;
}

.Visible {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

#insert-div {
    text-align: center;
}

textarea {
  color: black;
  vertical-align: top !important;
  font-size: 0.9em;
}

#new-q-div {
    display: inline-block;
}

#new-q-div {
    display: inline-block;
}

#game-controller {
    text-align: center;
}

header {
    text-align: center;
}

#prompt {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}